<form action="/anime/editAnime" method="post">
    Id Anime : <input type="text" name="id_anime"><br>
    tahun : <input type="number" name="tahun_terbit"><br>
    score : <input type="number" name="score" step="0.01"><br>
    <input type="submit" value="Simpan">
</form>